body{
	margin: 0px;
	padding:0px;
	width:100%;
}
ul:hover
{
	background-color:white;
}
a
{
	text-decoration:none;
	color:white;
}
ul
{
	list-style-type:none;
}
a:hover
{
	color:black;	
}

header{
	margin: 0;
	padding-left: 18.5%;
	padding-right:18.5% ;
	width:63%;
	height: 375px;
	background: url('../image/background.jpg');
}

header img.logo{
	margin: 10px 150px;
	background-color: white;
}

header div{
	margin: 0;
}

header p{
	margin: 10px 0px;
	color: white;
	width:500px;
	font-size: 25px;
}
nav
{
	position:relative;
	top:40px;
}

header ul{
	padding: 0px;
	background-color: #1277a1;
	padding:10px;
	font-size: 21px;
	border-top:5px solid #b05811;
	border-bottom: 7px solid #b05811;
	color: white;
}

header li {
	display: inline;
	padding-left:22px;
	padding-right:22px;
	border-right: 1px solid #b05811;
	border-left: 1px solid #b05811;
	padding-top: 6px;
	padding-bottom: 6px;
}
label
{
	margin-bottom:8px;
}

header #form {
	float: right;
	padding: 15px;
	color: #b05811;
	border: 5px solid #b05811;
	background: url('../image/background.jpg');
}

header #form label{
	display: inline-block;
	width:100px;
}
header #form hr{
	margin-top: 0;
	border: 0;
	height: 20px;
	background: #b05811;
}


header .line2{
	border:0px;
	width: 100%;
	position: absolute;
	left: 0px;
	top:27.2%;
}

#contenu{
	margin: auto;
	width:63%;
}
#contenu hr{
	background: url('../image/separation.jpg');
	height: 49px;
	margin-bottom:25px;
	margin-top:10px;
	width :100%;
	clear: both;
}
article img{
	max-width:100px;
}
.separator{
	width:160%;
	margin-left:-30.5%;
	position:relative;
	top:4px;
}
section
{
	margin-top:10px;
}
.left{
	float: left;
	width: 45%;
	padding-right: 10%;
}

#contenu h1{
	font-size: 30px;
	margin:0;
	padding-bottom: 5px;
	margin-bottom: 30px;
}
.right h4
{
	color:#ad5813;	
}
.left h1{
	color:#1277a1;
	border-bottom: 10px solid #b05811;
}

.right {
	float: left;
	width: 45%;
}

.right h1{
	color:#b05811;
	border-bottom: 10px solid #1277a1;
	text-align: right;
}

#contenu h2{
	height: 30px;
	padding: 0;
	margin: 0;
	margin-top: 0;
	padding-top: 10px;
	padding-left: 10px;
	font-size: 20px;
	text-align: center;
}

.left h2{
	color:#1277a1;
	border-left: 10px solid #b05811;
}


.right h2{
	color:#b05811;
	border-left: 10px solid #1277a1;
}
.plateformetop{
	text-align: center;
	margin: 0 30px;
	float: left;
}

.plateformetop img{
	max-height: 100px;
}
.plateformebottom{
	margin: 0 40px;
	text-align: center;
	float: left;
}

.plateformebottom img{
	max-height: 100px;
}

footer{
	color:#1277a1;
	width:63%;
	padding-left:18.6%;
	padding-right:18.5%;
	margin-top:-30px;
	height: 381px;
	background: url('../image/background.jpg');
}
footer h1{
	margin-top: 40px;
	margin-left: 180px;
}



.logofooter{
	height: 100px;
}
.logofooter.linetwo{
	padding:0 60px 0 60px;
}

div#infos
{
	background-color: white;
	width:680px;
	float: right;
	padding: 10px 10px 5px 10px;
	position: relative;
	left: 80px;
	top: 7px;
}
#contenu a
{
	color:#ad5813;
}


